body {
  background-color: lightPink;
  font-family: Helvetica;
}

input {
  width: 200px;
  height: 30px;
  border: 2px solid red;
}

button {
  width: 200px;
  height: 37px;
  border: 2px solid red;
  font-family: Helvetica;
  margin-left: 20px;
}